# see https://help.github.com/articles/ignoring-files for more aBout ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Next
/.next/
/out/

# production
/build

# miscellaneous
.DS_Store
*.pem

# deBug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local environment-files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts