.logoLink {
	display: flex;
	font-weight: 500;
	font-size: 1rem;
	align-items: center;
	color: var(--white10);
	margin-bottom: 1rem;
}

.logoWrapper {
	color: var(--red);
	width: 8rem;
}

@media (min-width: 768px) {
	.logoLink {
		margin-bottom: 0px;
	}
}