.modal {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 800px;
	bottom: 40px;
	background-color: var(--black40);
	top: 5%;
	outline: none;
	border-radius: 10px;
	border: 1px solid var(--shadow10);
}

.overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
}

.boxShadow {
	-webkit-box-shadow: 0 3px 7px var(--shadow20);
	-moz-box-shadow: 0 3px 7px var(--shadow20);
	box-shadow: 0 3px 7px var(--shadow20);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 1;
	background: linear-gradient(to top, var(--black10), transparent 50%);
}

.iFrame {
	border-radius: 10px 10px 0px 0px;
	composes: boxShadow;
}

.modalBody {
	padding: 0 3rem;
}

.modalBodyContent {
	display: grid;
	grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
	column-gap: 2em;
}

.column1 {
	max-height: 23rem;
	overflow-y: hidden;
	overflow-y: scroll;
}

.publishTime {
	font-size: 1.125rem;
	line-height: 1.75rem;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	color: var(--green10);
}

.text {
	font-size: 1.125rem;
	line-height: 1.75rem;
	color: var(--white10);
}

.description {
	margin-bottom: 0.5rem;
	margin-top: 0.75rem;
}

.column2 {
	color: var(--white10);
	line-height: 1.75rem;
	display: flex;
	flex-direction: column;
}

.metaDataWrapper {
	margin-top: 1.5rem;
}

.metaData {
	font-size: 0.875rem;
	line-height: 1.25rem;
	margin-left: 0px;
	overflow-wrap: break-word;
}

.metaDataKey {
	color: var(--gray10);
}

.metaDataValue {
	color: var(--white30);
	margin: 0px;
}

@media (max-width: 768px) {
	.modal {
		width: 100%;
	}
}